<%- include ('../partials/__head') %> 

    <!-- Page Wrapper -->
    <div id="wrapper">
    
        <!-- Sidebar -->
            <%- include ('../partials/__sidebar') %> 
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/__topbar') %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="./" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-sm text-white-50"></i>  Back</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class= col mb-4">
                            <div class="card-body">
                                <h2 class="mt-4 mb-5 text-center">Tambah Data Pemilik</h2>
                                <form action="/kapal/store" method="POST">
                                    <div class="mb-3">
                                        <label for="nama_kapal" class="form-label">Nama Kapal</label>
                                        <input type="text" class="form-control" name="nama_kapal" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nama" class="form-label">Nama Pemilik</label>
                                        <select class="form-select" aria-label="Pilih Nama Pemilik" name="id_pemilik" required>
                                            <option selected>Pilih Nama Pemilik</option>
                                            <% for(var i=0; i < dataPemilik.length; i++){ %>
                                                <option value="<%= dataPemilik[i].id_pemilik %>"><%= dataPemilik[i].nama_pemilik %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nama" class="form-label">Nama DPI</label>
                                        <select class="form-select" aria-label="Pilih Nama DPI" name="id_dpi" required>
                                            <option selected>Pilih Nama DPI</option>
                                            <% for(var i=0; i < dataDPI.length; i++){ %>
                                                <option value="<%= dataDPI[i].id_dpi %>"><%= dataDPI[i].nama_dpi %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nama" class="form-label">Nama Alat Tangkap</label>
                                        <select class="form-select" aria-label="Pilih Nama Alat Tangkap" name="id_alat_tangkap" required>
                                            <option selected>Pilih Nama Alat Tangkap</option>
                                            <% for(var i=0; i < dataAlatTangkap.length; i++){ %>
                                                <option value="<%= dataAlatTangkap[i].id_alat_tangkap %>"><%= dataAlatTangkap[i].nama_alat_tangkap %></option>
                                            <% } %>
                                        </select>
                                    </div>            
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include ('../partials/__footer') %> 



</html>