<%- include ('../partials/__head') %> 

    <!-- Page Wrapper -->
    <div id="wrapper">
    
        <!-- Sidebar -->
            <%- include ('../partials/__sidebar') %> 
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/__topbar') %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="./" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-sm text-white-50"></i>  Back</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class= col justify-content-center">
                            <div class="card-body">
                                <h2 class="mt-2 mb-4 text-center">Edit Data Kapal</h2>
                                <form action="/kapal/update/<%= id %>" method="POST">
                                    <div class="container text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="nama_kapal" class="form-label">Nama Kapal</label>
                                                    <input type="text" class="form-control" name="nama_kapal" value="<%= nama_kapal %>" required>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="nama_pemilik" class="form-label">Nama Pemilik</label>
                                                    <select class="form-select" aria-label="Pilih Nama Pemilik" name="id_pemilik" required>
                                                        <% for(var i=0; i < data_pemilik.length; i++){ %>
                                                            <% if(data_pemilik[i].id_pemilik == id_pemilik) { %>
                                                                <option value="<%= data_pemilik[i].id_pemilik %>" selected><%= data_pemilik[i].nama_pemilik %></option>
                                                            <% } else { %>
                                                                <option value="<%= data_pemilik[i].id_pemilik %>"><%= data_pemilik[i].nama_pemilik %></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="nama_dpi" class="form-label">Nama DPI</label>
                                                    <select class="form-select" aria-label="Pilih Nama DPI" name="id_dpi" required>
                                                        <% for(var i=0; i < data_dpi.length; i++){ %>
                                                            <% if(data_dpi[i].id_dpi == id_dpi) { %>
                                                                <option value="<%= data_dpi[i].id_dpi %>" selected><%= data_dpi[i].nama_dpi %></option>
                                                            <% } else { %>
                                                                <option value="<%= data_dpi[i].id_dpi %>"><%= data_dpi[i].nama_dpi %></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="nama_alat_tangkap class="form-label">Nama Alat Tangkap</label>
                                                    <select class="form-select" aria-label="Pilih Nama Alat Tangkap" name="id_alat_tangkap" required>
                                                        <% for(var i=0; i < data_alat_tangkap.length; i++){ %>
                                                            <% if(data_alat_tangkap[i].id_alat_tangkap == id_alat_tangkap) { %>
                                                                <option value="<%= data_alat_tangkap[i].id_alat_tangkap %>" selected><%= data_alat_tangkap[i].nama_alat_tangkap %></option>
                                                            <% } else { %>
                                                                <option value="<%= data_alat_tangkap[i].id_alat_tangkap %>"><%= data_alat_tangkap[i].nama_alat_tangkap %></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include ('../partials/__footer') %> 
